USE [master]
GO
/****** Object:  Database [cs6232-g1]    Script Date: 03/01/2015 00:03:20 ******/
CREATE DATABASE [cs6232-g1] ON  PRIMARY 
( NAME = N'cs6232-g1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\cs6232-g1.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'cs6232-g1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\cs6232-g1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cs6232-g1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cs6232-g1]
GO
/****** Object:  Table [dbo].[test]    Script Date: 03/01/2015 00:03:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Description] [text] NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_test] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[test] ON
INSERT [dbo].[test] ([id], [Name], [Description]) VALUES (1, N'HIV', N'Test for HIV')
INSERT [dbo].[test] ([id], [Name], [Description]) VALUES (2, N'Hepatitis A', N'Test for Hepatitis A')
INSERT [dbo].[test] ([id], [Name], [Description]) VALUES (3, N'Hepatitis B', N'Test for Hepatitis B')
SET IDENTITY_INSERT [dbo].[test] OFF
/****** Object:  Table [dbo].[person]    Script Date: 03/01/2015 00:03:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ssn] [varchar](11) NOT NULL,
	[fname] [varchar](255) NOT NULL,
	[minit] [varchar](1) NOT NULL,
	[lname] [varchar](255) NOT NULL,
	[birth_date] [date] NOT NULL,
	[is_male] [tinyint] NOT NULL,
	[street_address] [varchar](255) NOT NULL,
	[city] [varchar](255) NOT NULL,
	[state] [varchar](25) NOT NULL,
	[zip] [varchar](9) NOT NULL,
	[phone] [varchar](255) NOT NULL,
	[is_nurse] [tinyint] NOT NULL,
	[is_doctor] [tinyint] NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_person] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_ssn] ON [dbo].[person] 
(
	[ssn] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[person] ON
INSERT [dbo].[person] ([id], [ssn], [fname], [minit], [lname], [birth_date], [is_male], [street_address], [city], [state], [zip], [phone], [is_nurse], [is_doctor]) VALUES (1, N'999-99-9999', N'default', N'a', N'user', CAST(0x3AF90A00 AS Date), 1, N'''''', N'''''', N'''''', N'''''', N'''''', 0, 0)
SET IDENTITY_INSERT [dbo].[person] OFF
/****** Object:  Table [dbo].[visit]    Script Date: 03/01/2015 00:03:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[visit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [smalldatetime] NOT NULL,
	[patient_id] [int] NOT NULL,
	[nurse_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[blood_pressure] [varchar](45) NOT NULL,
	[temperature] [decimal](5, 1) NOT NULL,
	[pulse_rate] [int] NOT NULL,
	[symptoms] [text] NOT NULL,
	[initial_diagnosis] [text] NOT NULL,
	[final_diagnosis] [text] NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_visit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user]    Script Date: 03/01/2015 00:03:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[person_id] [int] NOT NULL,
	[username] [varchar](45) NOT NULL,
	[password] [varchar](45) NOT NULL,
	[admin_privelege] [tinyint] NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON
INSERT [dbo].[user] ([id], [person_id], [username], [password], [admin_privelege]) VALUES (1, 1, N'defaultuser', N'default1234', 1)
SET IDENTITY_INSERT [dbo].[user] OFF
/****** Object:  Table [dbo].[orderedtest]    Script Date: 03/01/2015 00:03:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderedtest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[visit_id] [int] NOT NULL,
	[test_id] [int] NOT NULL,
	[order_date] [smalldatetime] NOT NULL,
	[result_date] [smalldatetime] NULL,
	[result] [tinyint] NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_orderedtest] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_person_minit]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[person] ADD  CONSTRAINT [DF_person_minit]  DEFAULT ('') FOR [minit]
GO
/****** Object:  Default [DF_person_is_male]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[person] ADD  CONSTRAINT [DF_person_is_male]  DEFAULT ((1)) FOR [is_male]
GO
/****** Object:  Default [DF_person_street_address]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[person] ADD  CONSTRAINT [DF_person_street_address]  DEFAULT ('') FOR [street_address]
GO
/****** Object:  Default [DF_person_city]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[person] ADD  CONSTRAINT [DF_person_city]  DEFAULT ('') FOR [city]
GO
/****** Object:  Default [DF_person_state]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[person] ADD  CONSTRAINT [DF_person_state]  DEFAULT ('') FOR [state]
GO
/****** Object:  Default [DF_person_zip]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[person] ADD  CONSTRAINT [DF_person_zip]  DEFAULT ('') FOR [zip]
GO
/****** Object:  Default [DF_person_phone]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[person] ADD  CONSTRAINT [DF_person_phone]  DEFAULT ('') FOR [phone]
GO
/****** Object:  Default [DF_person_is_nurse]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[person] ADD  CONSTRAINT [DF_person_is_nurse]  DEFAULT ((0)) FOR [is_nurse]
GO
/****** Object:  Default [DF_person_is_doctor]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[person] ADD  CONSTRAINT [DF_person_is_doctor]  DEFAULT ((0)) FOR [is_doctor]
GO
/****** Object:  Default [DF_visit_date]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[visit] ADD  CONSTRAINT [DF_visit_date]  DEFAULT (getdate()) FOR [date]
GO
/****** Object:  Default [DF_visit_blood_pressure]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[visit] ADD  CONSTRAINT [DF_visit_blood_pressure]  DEFAULT ((120)/(80)) FOR [blood_pressure]
GO
/****** Object:  Default [DF_visit_temperature]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[visit] ADD  CONSTRAINT [DF_visit_temperature]  DEFAULT ((98.6)) FOR [temperature]
GO
/****** Object:  Default [DF_visit_pulse_rate]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[visit] ADD  CONSTRAINT [DF_visit_pulse_rate]  DEFAULT ((90)) FOR [pulse_rate]
GO
/****** Object:  Default [DF_visit_symptoms]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[visit] ADD  CONSTRAINT [DF_visit_symptoms]  DEFAULT ('') FOR [symptoms]
GO
/****** Object:  Default [DF_visit_initial_diagnosis]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[visit] ADD  CONSTRAINT [DF_visit_initial_diagnosis]  DEFAULT ('') FOR [initial_diagnosis]
GO
/****** Object:  Default [DF_visit_final_diagnosis]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[visit] ADD  CONSTRAINT [DF_visit_final_diagnosis]  DEFAULT ('') FOR [final_diagnosis]
GO
/****** Object:  Default [DF_user_admin_privelege]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_admin_privelege]  DEFAULT ((0)) FOR [admin_privelege]
GO
/****** Object:  Default [DF_orderedtest_order_date]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[orderedtest] ADD  CONSTRAINT [DF_orderedtest_order_date]  DEFAULT (getdate()) FOR [order_date]
GO
/****** Object:  ForeignKey [FK_visit_dr]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[visit]  WITH CHECK ADD  CONSTRAINT [FK_visit_dr] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[visit] CHECK CONSTRAINT [FK_visit_dr]
GO
/****** Object:  ForeignKey [FK_visit_nurse]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[visit]  WITH CHECK ADD  CONSTRAINT [FK_visit_nurse] FOREIGN KEY([nurse_id])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[visit] CHECK CONSTRAINT [FK_visit_nurse]
GO
/****** Object:  ForeignKey [FK_visit_paitent]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[visit]  WITH CHECK ADD  CONSTRAINT [FK_visit_paitent] FOREIGN KEY([patient_id])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[visit] CHECK CONSTRAINT [FK_visit_paitent]
GO
/****** Object:  ForeignKey [FK_user_person]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_person] FOREIGN KEY([person_id])
REFERENCES [dbo].[person] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_person]
GO
/****** Object:  ForeignKey [FK_orderedtest_test]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[orderedtest]  WITH CHECK ADD  CONSTRAINT [FK_orderedtest_test] FOREIGN KEY([test_id])
REFERENCES [dbo].[test] ([id])
GO
ALTER TABLE [dbo].[orderedtest] CHECK CONSTRAINT [FK_orderedtest_test]
GO
/****** Object:  ForeignKey [FK_orderedtest_visit]    Script Date: 03/01/2015 00:03:20 ******/
ALTER TABLE [dbo].[orderedtest]  WITH CHECK ADD  CONSTRAINT [FK_orderedtest_visit] FOREIGN KEY([visit_id])
REFERENCES [dbo].[visit] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orderedtest] CHECK CONSTRAINT [FK_orderedtest_visit]
GO
